

 section #title h1 {
    font-size: 70px;
    font-weight:bold;
    margin-bottom: 50px;
}

#slike {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

 #slike object {
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

